<!DOCTYPE html>
<html ng-app='app'>
  <head>
    <title>Tab Organizer</title>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>
  <body ng-controller='tabController'>
    <div class="popup">
        <h3>tabsZen</h3>
        <div class="action">
            <div class="action-item save" ng-click="saveOpenedTabs()">Save Tabs</div>
            <div class="action-item load" ng-click="openSavedTabs()">Load Tabs</div>
        </div>
        <div class="sort">
            <p class="sort-header">Sort tabs by:</p>
            <div class="sort-body">
                <!-- sort by opened date -->
                <div class="sort-item" ng-click="sortBy('createdAt')">Date Opened</div>
                <!-- sort by time since last visited -->
                <div class="sort-item" ng-click="sortBy('visitedAt')">Last Opened</div>
                <!-- sort by most visited -->
                <div class="sort-item" ng-click="sortBy('timesVisited')">Times Visited</div>
            </div>
        </div>
        <div class="contribution">
            <a class="contribution-content" href="https://github.com/myeung58/TabsZen" target="_blank">
                <i class="fa fa-github fa-2x"></i>
                <p class="contribution-message">Contribute on Github</p>
            </a>
        </div>
    </div>

    <script type="text/javascript" src="lib/jquery/jquery-2.2.0.min.js"></script>
    <script type="text/javascript" src="lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="app/app.js"></script>
    <script type="text/javascript" src="app/controllers/tabController.js"></script>
    <script type="text/javascript" src="app/services/tabService.js"></script></body>
</html>
